<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用cglib 来生成代理方法 而不是jdk的 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <context:component-scan base-package="com.jee.ssm.modules" >
        <context:include-filter type="regex" expression=".dao.*"/>
        <context:include-filter type="regex" expression=".service.*"/>
    </context:component-scan>

    <context:component-scan base-package="com.jee.ssm" >
        <context:include-filter type="regex" expression=".common.*"/>
    </context:component-scan>

    <!-- 引入项目配置文件 -->
    <bean id="projectConfigurer"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:config/project.properties</value>
                <value>classpath:config/jdbc.properties</value>
                <value>classpath:config/redis.properties</value>
            </list>
        </property>
    </bean>

    <!-- 引入框架配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="projectConfigurer" />
    </bean>

    <!-- 引入Shiro安全配置 -->
    <import resource="classpath:spring/spring-shiro.xml"/>

    <!-- 引入Mybatis配置 -->
    <import resource="classpath:spring/spring-mybatis.xml"/>

    <!-- 引入缓存配置 -->
    <import resource="classpath:spring/spring-cache.xml"/>

    <!-- 引入WebSocket配置 -->
   <import resource="classpath:spring/spring-websocket.xml"/>

</beans>  