<?xml version="1.0" encoding="UTF-8" ?>
<!--
* 角色 Mapper
* @author GaoXiang
* @version 1.0
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="RoleMapper" >


    <!-- 根据 id 查询所有列 -->
    <select id="selectById" resultType="com.jee.ssm.model.Role" parameterType="string" >
        select *
        from t_role
        where id = #{id}
    </select>

    <!-- 根据 id 删除 -->
    <delete id="deleteById" parameterType="string" >
        delete from t_role
        where id = #{id}
    </delete>

    <!-- 批量删除，参数是名为ids的list -->
    <delete id="deleteByIds" parameterType="list">
        delete from t_role where id in
        <foreach item="ids" collection="list" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.jee.ssm.model.Role" >
        insert into t_role (id,name,intro,set_time,account_id,shiro)
        values (#{id},#{name},#{intro},#{setTime},#{accountId},#{shiro})
    </insert>

    <!-- 根据 id 更新数据 -->
    <update id="updateById" parameterType="com.jee.ssm.model.Role" >
        update t_role
        <set>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="intro != null" >
                intro = #{intro},
            </if>
            <if test="setTime != null" >
                set_time = #{setTime},
            </if>
            <if test="accountId != null" >
                account_id = #{accountId},
            </if>
            <if test="shiro != null" >
                shiro = #{shiro},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 查询列表，分页信息不在此处控制，参数为map，返回实体 -->
    <select id="list" resultType="com.jee.ssm.model.Role" parameterType="map">
        select *
        from t_role
        where 1=1
        <if test="name != null" >
            and `name` like CONCAT('%',#{name},'%')
        </if>
    </select>

    <!-- 查询列表 获取用户所有角色 -->
    <select id="findByAccountId" resultType="com.jee.ssm.model.Role" parameterType="string">
        select a.*
        from t_role a
        left join t_account_role b on a.id = b.role_id
        where b.account_id = #{accountId}
    </select>

    <!-- 查询列表 获取所有角色 授权角色用  -->
    <select id="findByAccountEdit" resultType="com.jee.ssm.model.Role" parameterType="string">
        select r.*,d.account_id belong
        from t_role r
        left join(
            select a.id,b.account_id
            from t_role a
            left join t_account_role b on a.id = b.role_id
            where b.account_id = #{accountId}
        ) d on r.id = d.id
    </select>

</mapper>